.form-horizontal {
	margin-left: 30px;
	color: orange;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

body {
	background-image: url(../images/sunset.jpg);
	background-size: cover;
}

h1 {
	font-family: Montserrat;
	color: 6ccf55;
	margin-left: 20px;
	text-shadow: 4px 4px 4px #aaa;
	font-size: 45px;
}

h2 {
	font-family: Lora;
	text-shadow: 5px 5px 5px #7a7067;
	font-size: 35px;
}

.table-hover {
	color: white;
	background-color: 282911;
	font-family: 'Patrick Hand' cursive;
	font-size: 20px;
}
