body {
	background-image: url(../images/triceratops.jpg);
	background-size: cover;
}

h1 {
	font-family: 'Carter One', cursive;
	color: orange;
	margin-left: 25px;
}

table {
	font-family: 'Carter One', cursive;
	color: f5b60a;
}

form {
	color: 0af5a6;
	margin-left: 30px;
	font-family: 'Carter One', cursive;
	font-size: 16px;
}

